# Общие исключения
.DS_Store
Thumbs.db

# Node.js
node_modules/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React Vite
.vite/

# ASP.NET
bin/
obj/
.vs/
*.user
*.suo

# Конфиденциальные данные
appsettings.Development.json
secrets.json

# Конфигурации IDE
.vscode/
*.DotSettings.user
.idea/